[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include macro.cfg]
[include mainsail.cfg]
[include leds.cfg]

[mcu]
canbus_uuid: 3a235d4f43b0

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4600
max_z_velocity: 20
max_z_accel: 1550
square_corner_velocity: 5.0

[skew_correction]

[force_move]
enable_force_move: True

#####################################################################
##	                   Exclude Object
#####################################################################
[exclude_object]                        # Exclude object for cancellation


#####################################################################
##	                 Temperature Monitoring
#####################################################################
[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor PI]
sensor_type: temperature_host

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 82 #255 is max

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200 
endstop_pin: tmc2209_stepper_y:virtual_endstop #PG9
position_min: -15
position_endstop: 350
position_max: 350
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 1.02
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS: 135 #255 is max

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
#endstop_pin: PG10
endstop_pin: probe:z_virtual_endstop
#position_endstop: -0.5
position_max: 310
position_min: -10
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 1.30
hold_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 1.30
hold_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 1.30
hold_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 1.30
hold_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

#####################################################################
#   Bed Settings
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1
min_temp: 0
max_temp: 130

[bed_mesh]
speed: 200
mesh_min: 25,25
mesh_max: 325,325
probe_count: 9,9
algorithm: bicubic
horizontal_move_z: 5

#####################################################################
#   Fan Control
#####################################################################

[controller_fan electronics_fan]
pin: PA8
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2,stepper_z3
heater: extruder,heater_bed

[controller_fan electronics_fan2]
pin: PE5
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2,stepper_z3
heater: extruder,heater_bed

[fan_generic nevermore]
pin: PD12

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
#home_xy_position: 230, 353
#z_hop: 10
#z_hop_speed: 25
#speed: 200

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
speed: 100
horizontal_move_z: 2.0
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR
    # If QGL has not been done yet, correct for any major skew first
    # at 8mm height
    {% if not printer.quad_gantry_level.applied %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=8 retry_tolerance=1      
    {% endif %}
    # Complete with a full QGL at the configured height
    _QUAD_GANTRY_LEVEL
    G90 
    G1 X175 Y175 F15000
    RESTORE_GCODE_STATE NAME=STATE_QGL


#####################################################################
##                  Chamber Temp
#####################################################################
[temperature_sensor chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.752
#*# pid_ki = 3.112
#*# pid_kd = 286.811
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.321250, 0.328750, 0.290000, 0.328750, 0.268750, 0.331250, 0.388750, 0.420000, 0.436250
#*# 	  0.250000, 0.248750, 0.250000, 0.275000, 0.231250, 0.240000, 0.282500, 0.367500, 0.415000
#*# 	  0.197500, 0.140000, 0.152500, 0.132500, 0.122500, 0.167500, 0.216250, 0.276250, 0.321250
#*# 	  0.236250, 0.182500, 0.097500, 0.085000, 0.155000, 0.123750, 0.183750, 0.181250, 0.271250
#*# 	  0.161250, 0.045000, 0.035000, 0.048750, 0.002500, 0.032500, 0.128750, 0.160000, 0.196250
#*# 	  0.207500, 0.108750, 0.047500, 0.042500, -0.001250, 0.026250, 0.130000, 0.142500, 0.183750
#*# 	  0.265000, 0.101250, 0.066250, 0.042500, 0.021250, 0.050000, 0.146250, 0.177500, 0.173750
#*# 	  0.291250, 0.202500, 0.176250, 0.088750, 0.081250, 0.146250, 0.158750, 0.190000, 0.228750
#*# 	  0.340000, 0.243750, 0.178750, 0.155000, 0.143750, 0.155000, 0.211250, 0.233750, 0.248750
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 325.0
#*# min_y = 25.0
#*# max_y = 325.0
#*#
#*# [skew_correction TPU]
#*# xy_skew = 0.00865733921694119
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction ABS]
#*# xy_skew = 0.005730131497209667
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
