[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include macro.cfg]
[include mainsail.cfg]

[mcu]
canbus_uuid: 3a235d4f43b0

[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_550047000550315551333620-if00
restart_method: command

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 37
verbose: yes


[gcode_macro CARTO_MEASURE_PLANARBACKLASH]
description: Calibrate backlash at each corner
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    { action_raise_error("Printer not homed!"   ) } {% endif %}
  {% if printer.configfile.settings.cartographer is not defined   %}
    { action_raise_error("[cartographer] not found!" ) } {% endif %}
  {% if printer.configfile.config.bed_mesh.zero_reference_position is not defined %}
    { action_raise_error("zero_reference_position not found!")} {% endif %}
    
  {% if printer.configfile.settings.z_tilt is defined %}
    {% set planeCfg = "z_tilt"        %}
    {% set planeCMD = "Z_TILT_ADJUST" %}
  {% elif printer.configfile.settings.quad_gantry_level is defined %} 
    {% set planeCfg = "quad_gantry_level" %}
    {% set planeCMD = "QUAD_GANTRY_LEVEL" %}
  {% elif printer.configfile.settings.z_tilt_ng is defined %}
    {% set planeCfg = "z_tilt_ng"     %}
    {% set planeCMD = "Z_TILT_ADJUST" %}
  {% else %}
    { action_raise_error("This printer has no ztilt / QGL ") }
  {% endif %}
  
  {% set planeDef = printer.configfile.settings[planeCfg] %}
  {% set planeRange = planeDef.points | count             %}
  {% if not printer[planeCfg].applied  %} 
    { action_raise_error("Plane not leved, run {planeCMD} first")} {% endif %} 

  {% set moveSpeed  = planeDef['speed'] | int * 60  %}
  {% set moveAccel  = printer.configfile.config.printer.max_accel | int * 0.80 %}
  {% set moveHeight = 10 if planeDef['horizontal_move_z'] < 10 else planeDef['horizontal_move_z'] %}

  RESPOND PREFIX=💨 MSG="Moving Height: {moveHeight} Speed: {planeDef['speed']} Accel: {moveAccel} You have 4s to hit eStop"
  G4 P4000
  G90
  G0 Z{moveHeight}

  {% for i in range(planeRange) %}
    {% set testX = planeDef.points[i][0]|float %}
    {% set testY = planeDef.points[i][1]|float %}
    RESPOND PREFIX=🔢 MSG="Point {i+1}/{planeRange+1} ({planeCMD})"
    RESPOND PREFIX=📌 MSG="Tesing at X={testX} Y={testY}"

    G1 X{testX} Y{testY} Z{moveHeight} F{moveAccel}
    M400
    CARTOGRAPHER_ESTIMATE_BACKLASH
    M400
    G0 Z{moveHeight}
  {% endfor %}

  {% set posCenter = printer.configfile.config.bed_mesh.zero_reference_position %}
  {% set testX = posCenter.split(",")[0]|float %}
  {% set testY = posCenter.split(",")[1]|float %}
  RESPOND PREFIX=🚩 MSG="Point {planeRange+1}/{planeRange+1} (zero_reference_position)"
  RESPOND PREFIX=📌 MSG="Tesing at X={testX} Y={testY}"

  G1 X{testX} Y{testY} Z{moveHeight} F{moveAccel}
  M400
  CARTOGRAPHER_ESTIMATE_BACKLASH
  M400
  G0 Z{moveHeight}

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
cs_pin: cartographer:PA0
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345 
probe_points:
    175, 175, 20

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 6000
max_z_velocity: 20
max_z_accel: 1550
square_corner_velocity: 5.0

[skew_correction]

[force_move]
enable_force_move: True

[input_shaper]

#####################################################################
##	                   Exclude Object
#####################################################################
[exclude_object]                        # Exclude object for cancellation


#####################################################################
##	                   Axiscope
#####################################################################
[axiscope]
pin: PG10 
zswitch_x_pos: 268     # REQUIRED - X position of the endstop switch
zswitch_y_pos: -7     # REQUIRED - Y position of the endstop switch
zswitch_z_pos: 4        # REQUIRED - Z position + some clearance of the endstop switch
start_gcode: 
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S150
  {% endfor %}
before_pickup_gcode: M118 pickup_gcode
after_pickup_gcode: M118 after_pickup_gcode
                    # NOZZLE_SCRUBBER_W
finish_gcode: M118 Calibration complete
  {% set tools = printer.toolchanger.tool_numbers %}
  {% for tool in tools %}
      M104 T{tool} S0
  {% endfor %}
  T0

  
#####################################################################
##	                 Temperature Monitoring
#####################################################################
[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor PI]
sensor_type: temperature_host

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 100 #255 is max

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200 
endstop_pin: tmc2209_stepper_y:virtual_endstop #PG9
position_min: -12
position_endstop: 350
position_max: 350
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 1.02
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS: 100 #255 is max

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
position_max: 310
position_min: -10
homing_speed: 8
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 1.2
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 1.2
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 1.2
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 1.2
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 2
driver_TOFF: 4
driver_HEND: 2
driver_HSTRT: 5

#####################################################################
#   Bed Settings
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1
min_temp: 0
max_temp: 130

[bed_mesh]
zero_reference_position: 175, 175
speed: 300
mesh_min: 25,62
mesh_max: 325,288
probe_count: 20,20
adaptive_margin: 10
mesh_pps: 0,0


#####################################################################
#   Fan Control
#####################################################################

[controller_fan electronics_fan]
pin: PA8
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2,stepper_z3
heater: extruder,heater_bed

[controller_fan electronics_fan2]
pin: PE5
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2,stepper_z3
heater: extruder,heater_bed

[fan_generic nevermore]
pin: PD12

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
speed: 100
horizontal_move_z: 2.0
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR
    # If QGL has not been done yet, correct for any major skew first
    # at 8mm height
    {% if not printer.quad_gantry_level.applied %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=8 retry_tolerance=1      
    {% endif %}
    # Complete with a full QGL at the configured height
    _QUAD_GANTRY_LEVEL
    G90 
    G1 X175 Y175 F15000
    RESTORE_GCODE_STATE NAME=STATE_QGL


#####################################################################
##                  Chamber Temp
#####################################################################
[temperature_sensor chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF4


[tool_crash]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 59.752
#*# pid_ki = 3.112
#*# pid_kd = 286.811
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.266071, 0.227405, 0.202707, 0.208902, 0.199026, 0.168905, 0.155575, 0.108318, 0.108937, 0.113564, 0.131621, 0.162207, 0.160417, 0.201940, 0.196871, 0.202707, 0.192417, 0.217982, 0.213567, 0.259651
#*# 	0.242834, 0.210667, 0.185168, 0.168905, 0.169603, 0.154090, 0.118799, 0.083795, 0.064251, 0.060036, 0.086851, 0.112854, 0.107515, 0.151118, 0.175966, 0.154090, 0.185168, 0.187330, 0.187328, 0.223762
#*# 	0.230285, 0.188720, 0.180687, 0.159633, 0.156278, 0.144376, 0.115783, 0.074605, 0.053860, 0.037510, 0.066203, 0.079303, 0.088068, 0.139191, 0.162207, 0.154872, 0.159635, 0.168127, 0.157059, 0.217226
#*# 	0.207764, 0.159635, 0.143585, 0.141392, 0.115783, 0.114365, 0.081547, 0.046833, 0.021470, 0.027310, 0.052206, 0.058392, 0.064558, 0.103681, 0.123407, 0.132416, 0.141392, 0.168516, 0.154090, 0.182545
#*# 	0.205616, 0.158464, 0.139813, 0.140996, 0.129417, 0.092333, 0.081141, 0.036678, 0.023343, 0.004058, 0.033559, 0.055301, 0.060656, 0.096802, 0.120397, 0.119598, 0.138712, 0.152526, 0.147357, 0.179295
#*# 	0.185168, 0.138401, 0.122610, 0.114365, 0.108226, 0.084606, 0.046833, 0.023764, -0.003543, -0.001840, 0.011630, 0.030437, 0.035839, 0.075424, 0.105197, 0.095995, 0.137611, 0.149943, 0.134618, 0.156669
#*# 	0.182233, 0.139813, 0.116583, 0.114673, 0.087660, 0.088475, 0.035534, 0.008480, 0.000473, -0.008599, 0.011630, 0.026475, 0.025633, 0.074703, 0.100647, 0.097608, 0.106000, 0.116583, 0.115783, 0.153308
#*# 	0.162986, 0.107515, 0.091520, 0.082364, 0.063533, 0.048279, 0.034392, -0.023038, -0.008172, -0.028133, 0.017913, 0.006790, 0.014771, 0.069281, 0.078894, 0.070713, 0.093758, 0.073169, 0.089903, 0.125617
#*# 	0.169682, 0.121811, 0.102877, 0.095684, 0.068459, 0.053860, 0.041757, -0.002691, -0.017705, -0.013057, -0.002265, 0.025633, 0.023343, 0.073477, 0.073169, 0.060036, 0.077770, 0.060036, 0.076853, 0.135806
#*# 	0.166728, 0.127119, 0.102877, 0.089903, 0.078894, 0.047662, 0.023343, -0.004272, -0.023467, -0.025802, 0.028036, 0.014771, 0.021051, 0.086136, 0.116891, 0.096802, 0.081547, 0.075421, 0.092333, 0.119199
#*# 	0.169682, 0.124023, 0.101452, 0.093043, 0.067025, 0.044563, 0.027310, -0.019847, -0.011348, -0.029861, 0.027731, 0.033559, 0.020208, 0.053860, 0.073785, 0.064558, 0.072763, 0.068459, 0.071534, 0.129019
#*# 	0.159244, 0.107515, 0.094566, 0.070102, 0.054888, 0.032720, 0.014771, -0.024937, -0.028133, -0.031328, 0.004483, 0.023343, 0.023343, 0.069997, 0.081547, 0.076238, 0.081547, 0.067742, 0.079303, 0.115783
#*# 	0.162986, 0.126414, 0.106712, 0.087660, 0.076238, 0.053860, 0.027310, -0.034533, -0.040949, -0.029861, -0.005001, 0.010784, 0.017913, 0.080019, 0.103681, 0.087660, 0.085323, 0.081547, 0.085422, 0.129417
#*# 	0.158464, 0.107917, 0.083795, 0.070713, 0.046833, 0.036678, -0.008172, -0.047517, -0.066170, -0.040340, -0.018561, -0.000377, 0.009936, 0.064662, 0.091520, 0.082364, 0.092638, 0.095995, 0.092333, 0.111344
#*# 	0.169682, 0.118799, 0.100647, 0.084606, 0.056127, 0.056953, -0.000989, -0.043426, -0.054706, -0.039476, -0.025802, -0.005001, 0.014771, 0.054580, 0.078485, 0.075424, 0.090711, 0.084606, 0.078485, 0.132416
#*# 	0.157059, 0.097608, 0.086851, 0.065380, 0.048279, 0.037510, -0.024937, -0.059250, -0.056458, -0.052350, -0.015808, 0.000473, 0.005332, 0.068459, 0.090711, 0.083795, 0.102968, 0.091520, 0.096802, 0.120397
#*# 	0.191026, 0.144684, 0.113564, 0.100647, 0.083080, 0.068459, 0.029602, -0.018990, -0.024078, -0.032196, -0.003117, 0.025633, 0.043727, 0.086949, 0.113564, 0.106712, 0.120305, 0.094566, 0.094566, 0.138007
#*# 	0.181460, 0.131621, 0.129417, 0.102968, 0.073889, 0.065380, 0.027310, -0.008599, -0.025802, -0.019419, 0.010783, 0.037510, 0.049107, 0.095683, 0.120397, 0.103681, 0.109338, 0.104485, 0.102877, 0.142096
#*# 	0.195339, 0.154481, 0.140600, 0.107515, 0.094971, 0.083795, 0.046833, -0.020581, -0.013913, -0.028133, 0.012781, 0.055301, 0.058392, 0.106310, 0.143585, 0.129417, 0.119598, 0.115074, 0.118799, 0.151118
#*# 	0.224516, 0.174027, 0.160025, 0.155575, 0.120397, 0.111344, 0.082364, 0.029602, 0.024186, 0.021889, 0.057260, 0.081547, 0.091520, 0.142884, 0.169682, 0.169682, 0.143585, 0.151118, 0.147357, 0.164469
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 325.0
#*# min_y = 62.0
#*# max_y = 288.0
#*#
#*# [skew_correction TPU]
#*# xy_skew = 0.00865733921694119
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction ABS]
#*# xy_skew = 0.005730131497209667
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [skew_correction PLA]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.52593345030617,2.0262893457374647,0.8959815648805889,0.39281167541711914,0.22735943592125527,0.3414095082854033,0.02585455471595545,-0.20986730610070656,0.12596928465667373,0.15255745858645556
#*# domain = 3.3466337826862213e-07,3.4481059285474757e-07
#*# z_offset = 0
#*# reference_temperature = 26.92
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
