[mcu tool0]
canbus_uuid: d51bc39a53a0

[extruder]
step_pin: tool0: PD0
dir_pin: !tool0: PD1
enable_pin: !tool0: PD2
microsteps: 16
rotation_distance: 24.44834750384616
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: tool0: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: tool0: PA3
control: pid
pid_Kp: 38.790
pid_Ki: 17.239
pid_Kd: 21.820
min_temp: 0
max_temp: 270
gear_ratio: 44:10
max_extrude_only_distance: 105

[tmc2209 extruder]
uart_pin: tool0: PA15
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin: tool0: PA1

[heater_fan hotend_fan]
pin: tool0: PA0
heater: extruder
heater_temp: 50.0


[probe]
##  This probe is not used for Z height, only Quad Gantry Leveling
pin: tool0:PB6
x_offset: 0
y_offset: 0
#z_offset: 0
#lift_speed: 20
samples: 3
samples_result: average
sample_retract_dist: 3.0
samples_tolerance: 0.02
samples_tolerance_retries: 10